@font-face {
  font-family: montserrat;
  src: url(../fonts/montserrat-regular.ttf);
}

@font-face {
  font-family: montserrat-extralight;
  src: url(../fonts/montserrat-extralight.ttf);
}

@font-face {
  font-family: raleway-extrabold;
  src: url(../fonts/raleway-extrabold.ttf);
}

@font-face {
  font-family: raleway;
  src: url(../fonts/raleway-regular.ttf);
}

@font-face {
  font-family: raleway-semibold;
  src: url(../fonts/raleway-semibold.ttf);
}

@font-face {
  font-family: roboto;
  src: url(../fonts/roboto-regular.ttf);
}

.container {
  width: 1920px;
  margin: 0 auto;
}

/* * {
  border: 1px solid #000;
} */
.main-header {
  width: 100%;
  background-image: linear-gradient(
      to top,
      rgba(17, 17, 17, 0.7),
      rgba(17, 17, 17, 0.7)
    ),
    url(../img/header-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(17, 17, 17, 0.7);
  box-sizing: border-box;
  padding: 40px 150px;
}

.header__top-wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 225px;
}

.link {
  text-decoration: none;
}

.main-header__logo-link {
  display: flex;
  align-items: center;
  margin-right: 213px;
}

.main-header__logo-link:hover .logo-icon {
  fill: #c7b299;
}

.main-header__logo-link:hover .logo-title {
  color: #c7b299;
}

.main-header__logo-link:active .logo-icon {
  fill: #a48d72;
}

.main-header__logo-link:active .logo-title {
  color: #a48d72;
}

.logo-icon {
  fill: #ffffff;
}

.logo-title {
  text-transform: capitalize;
  color: #ffffff;
  font-family: "raleway", "Arial", sans-serif;
  font-size: 34px;
}

.main-header__main-nav {
  margin-top: 15px;
  display: flex;
}
.menu-list {
  list-style-type: none;
}

.main-nav__menu-list {
  display: flex;
  padding: 0px;
  margin: 0;
}

.menu-list__item {
  margin-right: 30px;
}

.menu-list__nav-link {
  color: #ffffff;
  font-family: "montserrat", "Arial", sans-serif;
  font-size: 14px;
}

.menu-list__nav-link:hover {
  color: #c7b299;
}
.menu-list__nav-link:active {
  color: #a48d72;
}

.cart-button {
  border: none;
  background-color: inherit;
  outline: none;
  cursor: pointer;
}

.nav-icon {
  fill: #ffffff;
}

.nav-icon:hover {
  fill: #c7b299;
}
.nav-icon:active {
  fill: #a48d72;
}

.searh-form {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.searh-input {
  width: 20px;
  background-color: transparent;
  height: 20px;
  border-color: transparent;
  outline: none;
}

.slider-section {
  width: 100%;
}

.header__slider {
  margin-top: 285px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.slider-section__link {
  display: block;
  position: absolute;
  top: 95px;
}
.slider-icon {
  fill: #a2a19f;
}

.slider-section__link:hover .slider-icon {
  fill: #c7b299;
}

.slider-section__link:active .slider-icon {
  fill: #a48d72;
}

.slider-section__link_left {
  left: 0;
}
.slider-section__link_right {
  right: 0;
}
.slider-section__slider-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0 475px;
  box-sizing: border-box;
  margin-bottom: 347px;
}

.slider-title_size-medium {
  color: #ffffff;
  font-family: "raleway", "Arial", sans-serif;
  font-size: 36px;
}

.slider-title_size-big {
  color: #ffffff;
  font-family: "raleway-extrabold", "Arial", sans-serif;
  font-size: 52px;
}

.slider-text {
  color: #ffffff;
  font-family: "montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  text-align: center;
  width: 562px;
}

.button-link {
  display: block;
  background-color: #998675;
  border-radius: 5px;
  color: #ffffff;
  font-family: "raleway-extrabold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  padding: 15px 38px;
  box-shadow: inset 0 -3px 0 #736357;
}

.button-link:hover {
  background-color: #c2b09f;
}

.button-link:active {
  box-shadow: none;
  color: #000000;
}
.slider-content__link {
  margin-top: 42px;
}

.pagination {
  display: flex;
  align-items: flex-end;
}

.slider-section__pagination {
  position: absolute;
  bottom: 0;
  left: 760px;
}

.pagination__item {
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 50px;
  display: block;
  width: 11px;
  height: 11px;
  background-color: #ffffff;
  opacity: 0.5;
  margin: 0 3px;
  background-clip: padding-box;
}

.pagination__item:hover {
  border: 2px solid #d3c1ad;
  background-color: transparent;
}

.pagination__item:active {
  border: 2px solid #d3c1ad;
  background-color: #d3c1ad;
}

.main {
  width: 100%;
}

.services {
  width: 100%;
  display: flex;
}

.main__services {
  padding: 80px 378px;
  box-sizing: border-box;
}

.services__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 266px;
  margin: 0 15px;
  align-content: flex-end;
}

.services__item:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  margin: 0 auto;
  align-self: flex-end;
}

.services__item:hover .service-icon {
  fill: #c7b299;
}

.services__item:hover .service-title {
  color: #c7b299;
}

.services__item:hover:after {
  background-color: #c7b299;
}

.services__item:active .service-icon {
  fill: #998675;
}

.services__item:active .service-title {
  color: #998675;
}

.services__item:active:after {
  background-color: #998675;
}

.service-icon {
  fill: #555555;
}

.service-title {
  width: 100%;
  text-align: center;
  color: #555555;
  font-family: "raleway-semibold", "Arial", sans-serif;
  font-size: 22px;
  margin-top: 30px;
}

.service-text {
  text-align: center;
  color: #8c8c8c;
  font-family: "montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin: 20px 0 30px 0;
}

.realization {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: #fbfaf8;
  padding: 83px 0 522px 0;
  padding-top: 83px;
  box-sizing: border-box;
  justify-content: center;
  background-image: url(../img/browser-center.png), url(../img/browser-left.png),
    url(../img/browser-right.png);
  background-position: bottom center, bottom left 345px, bottom right 345px;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.section-title {
  color: #555555;
  font-family: "raleway-semibold", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.realization__title {
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
}

.section-text {
  color: #8c8c8c;
  font-family: "montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.realization__text {
  width: 757px;
  margin: 0 auto;

  text-align: center;
}

.wordpress {
  width: 100%;
  padding: 38px 375px;
  box-sizing: border-box;
  background-color: #f4f5f8;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.wordpress__text_top {
  color: #ffffff;
  font-family: "raleway", "Arial", sans-serif;
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}

.wordpress__text_span {
  color: #c7b299;
}

.wordpress__text_bottom {
  color: #615855;
  font-family: "montserrat", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 8px 0 0 0;
  width: 100%;
}

.gallery {
  width: 100%;
  /* min-height: 1160px; */
  padding: 80px 375px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.gallery__title {
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
}

.gallery__text {
  display: block;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.gallery-menu {
  justify-content: center;
  display: flex;
  list-style-type: none;
  margin: 40px auto;
  padding: 0;
  width: 100%;
}

.gallery-menu__items {
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: transparent;
  margin-right: 10px;
  padding: 8px 25px;
}

.gallery-menu__items:hover {
  background-color: #998675;
}

.gallery-menu__items:hover .gallery-menu__link {
  color: #ffffff;
}

.gallery-menu__items:active .gallery-menu__link {
  color: #111111;
}

.gallery-menu__link {
  text-align: center;
  display: block;
  color: #8c8c8c;
  font-family: "montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.gallery-elem {
  margin-bottom: 30px;
  position: relative;
}

.gallery-elem__search {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
}
.gallery-elem__img {
  display: block;
}
.gallery-elem__text-wrap {
  background-color: #fbfaf8;
  position: relative;
  padding: 30px 0 30px 30px;
  box-sizing: border-box;
}
.gallery-elem__text-wrap::before {
  content: "";
  border: 15px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  top: -25px;
  left: 20px;
}

.gallery-elem__title {
  color: #c7b299;
  font-family: "raleway", "Arial", sans-serif;
  font-size: 20px;
}
.gallery-elem__text {
  color: #d1d1d1;
  font-family: "montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}
.gallery-elem__link,
.gallery-elem__search {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 30%;
  display: none;
  outline: none;
}

.gallery-elem__link {
  left: 37%;
}

.gallery-elem__search {
  right: 37%;
}

.gallery__icon {
  width: 26px;
  height: 26px;
  fill: #ffffff;
}

.gallery-elem:hover .gallery-elem__title {
  color: #ffffff;
}

.gallery-elem:hover .gallery-elem__text {
  color: #c7b299;
}

.gallery-elem:hover .gallery-elem__img {
  filter: brightness(30%);
}

.gallery-elem:hover .gallery-elem__text-wrap {
  background-color: #362f2d;
}

.gallery-elem:hover .gallery-elem__text-wrap::before {
  border-bottom: 10px solid #362f2d;
}

.gallery-elem:hover .gallery-elem__link {
  display: block;
}

.gallery-elem:hover .gallery-elem__search {
  display: block;
}

.gallery-elem__link:hover .gallery__icon {
  fill: #c7b299;
}

.gallery-elem__search:hover .gallery__icon {
  fill: #c7b299;
}

.gallery-elem__link:active .gallery__icon {
  fill: #a48d72;
}

.gallery-elem__search:active .gallery__icon {
  fill: #a48d72;
}

.gallery-link {
  margin: 10px auto 0 auto;
}

.video {
  width: 100%;
  position: relative;
}

.waxom-video {
  filter: brightness(50%);
}

.video-description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 30%;
  right: 25%;
  left: 25%;
}

.video-button {
  margin: 0 auto;
  outline: none;
  border-radius: 50%;
  border-color: transparent;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-color: transparent;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: rgba(17, 17, 17, 0.2);
  cursor: pointer;
  margin-bottom: 40px;
}

.icon-play {
  fill: #ffffff;
}

.video-description__title {
  color: #ffffff;
  font-family: "raleway", "Arial", sans-serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.video-description__text {
  color: #ffffff;
  text-align: center;
  margin: 0 auto 40px auto;
  width: 60%;
}

.video-description__time {
  color: #c7b299;
  font-family: "montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.presentation {
  width: 100%;
  /* min-height: 695px; */
  background-color: #fbfaf8;
  background-image: url(../img/presentation_pic.png);
  background-position: bottom left 30%;
  background-repeat: no-repeat;
  background-size: auto;
  /*  background-size: contain; */
  /* background-size: auto 100%; */
  padding-top: 195px;
  padding-bottom: 183px;
  box-sizing: border-box;
  padding-left: 877px;
}

.presentation__title {
  display: block;
  margin-bottom: 40px;
}

.presentation__text {
  display: block;
  margin-top: 0px;
  margin-bottom: 45px;
  width: 65%;
}

.presentation-summary {
  outline: none;
  position: relative;
  display: block;
  line-height: 32px;
}
.presentation-summary::-webkit-details-marker {
  display: none;
}

.presentation-details {
  /*   position: relative; */
  margin-left: 100px;
}

.presentation-summary::before {
  content: url(../img/small-arrow.png);
  display: block;
  /*  width: 21px;
  height: 21px; */
  font-size: 30px;
  position: absolute;
  left: -45px;
  box-sizing: border-box;
}
.presentation-details[open] .presentation-summary::before {
  content: url(../img/small-arrow.png);
  transform: rotate(90deg);
  left: -45px;
  box-sizing: border-box;
}
